<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gyelpozhing Turf Booking</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script type="text/javascript" src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>
  <script type="text/javascript"
    src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js'></script>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css"
    type="text/css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"
    type="text/javascript"></script>
  <link rel="stylesheet" href="css/bookingForm.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" style="margin-left: 2rem;margin-right: 2rem;">
      <div class="navbar-nav">
        <img class="header-logo" src="" alt="">
      </div>
      <div class="navbar-nav ms-auto">
        <a href="/" class="nav-item nav-link">Home</a>
        <a href="/showBookedUserList" class="nav-item nav-link">Details</a>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="image-container">
          <h2>Enjoy your hobby!!</h2>
          <img src="" alt="">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-container">
          <form action="/bookingForm" method="POST">
            <div class="form-group">
              <label for="name">Full Name</label>
              <input type="text" class="form-control" name="name"
                value="<%=(typeof inputData!='undefined') ? inputData.name: ''%>">
              <p style="color: red;">
                <%= (typeof errors!="undefined" && typeof errors.name!="undefined" ) ? errors.name.msg: "" %>
              </p>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email"
                value="<%=(typeof inputData!='undefined') ? inputData.email: ''%>">
              <p style="color: red;">
                <%= (typeof errors!="undefined" && typeof errors.email!="undefined" ) ? errors.email.msg: "" %>
              </p>
            </div>

            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input type="number" class="form-control" name="phone"
                value="<%=(typeof inputData!='undefined') ? inputData.phone: ''%>">
              <p style="color: red;">
                <%= (typeof errors!="undefined" && typeof errors.phone!="undefined" ) ? errors.phone.msg: "" %>
              </p>
            </div>

            <div class="form-group">
              <label for="date">Date</label>
              <input id="txtDate" type="text" class="form-control date-input" name="date"
                value="<%=(typeof inputData!='undefined') ? inputData.date: ''%>" />
              <p style="color: red;">
                <%= (typeof errors!="undefined" && typeof errors.date!="undefined" ) ? errors.date.msg: "" %>
              </p>
            </div>

            <div class="form-group">
              <label for="time">Time</label>
              <input class="form-control" name="time" type="time"
                value="<%=(typeof inputData!='undefined') ? inputData.time: ''%>">
              <p style="color: red;">
                <%= (typeof errors!="undefined" && typeof errors.time!="undefined" ) ? errors.time.msg: "" %>
              </p>
            </div>

            <div class="form-group">
              <label for="day">AM/PM</label>
              <select name="day" class="form-select" aria-label="Default select example"
                value="<%=(typeof inputData!='undefined') ? inputData.day: ''%>">
                <option selected></option>
                <option value="AM">AM</option>
                <option value="PM">PM</option>
              </select>
              <p style="color: red;">
                <%= (typeof errors!="undefined" && typeof errors.day!="undefined" ) ? errors.day.msg: "" %>
              </p>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer>
      <div class="row second-footer">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <span>© 2022 Group 3. Agile Project</span>
        </div>
      </div>
  </footer>
  <% if (typeof errorMessage !=="undefined" ) { %>
    <script>
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: "<%= errorMessage %>",
      })
      </script>
  <% } %>
  <% if (typeof successMessage !== "undefined") { %>
    <script>
      swal({
        title: "Good job!",
        text: "<%= successMessage %>",
        icon: "success",
      });
      </script>
  <% } %>
  <div class="row second-footer">
    <div class="col-12">
      <span>© 2022 Group 3. Agile Project</span>
    </div>
  </div>
</body>

</html>

<script type="text/javascript">
  $(function () {
    $('#txtDate').datepicker({
      format: "dd/mm/yyyy"
    });
  });
</script>