<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gyelpozhing Turf Booking</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="css/confirmBookedUserList.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'> 
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
          <div class="menu-container col-lg-2 col-md-2 col-sm-12">
              <div class="row">
                  <nav class="navbar navbar-expand-lg navbar-light">
                      <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                          data-bs-target="#navbarCollapse">
                          <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav">
                          <h1>LOGO</h1>
                          <a href="/" class="nav-item nav-link"><span><img src="/Pictures/4.png" alt=""></span>Home</a>
                          <a href="/bookedUserList" class="nav-item nav-link"><span><img src="/Pictures/2.png" alt=""></span>Booked List</a>
                          <a href="/confirmBookedUserList" class="nav-item nav-link"><span><img src="/Pictures/1.png" alt=""></span>Paid List</a>
                          <a href="/feedback" class="nav-item nav-link"><span><img src="/Pictures/3.png" alt=""></span>Feedback</a>
                          <a href="/logout" class="nav-item nav-link"><span><img src="/Pictures/5.png" alt=""></span>LogOut</a>
                      </div>
                      </div>
                  </nav>
              </div>
          </div>
          <div class="content-container col-lg-10 col-md-10 col-sm-12">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 md1">
                  <div class="card">
                      <div class="card-body">
                          <div class="row">
                              <div class="col-lg-2 col-md-2 col-sm-2">
                                  <img src="Pictures/8.png" class="icon" alt="">
                              </div>
                              <div class="col-lg-10 col-md-10 col-sm-10">
                                <% var counts = 0 %>
                                <%bookedRecords.forEach(function(records){%>
                                    <% counts++ %>
                                  <%})%>
                                  <h3 class="hh"><%= counts %></h3>
                                  <p class="lead">Total Booking Order</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 md1">
                  <div class="card">
                      <div class="card-body">
                          <div class="row">
                              <div class="col-lg-2 col-md-2 col-sm-2">
                                <img src="Pictures/7.png" class="icon" alt="">
                              </div>
                              <div class="col-lg-10 col-md-10 col-sm-10">
                                <% var count = 0 %>
                                <%bookedRecords.forEach(function(records){%>
                                  <%if(records.payment === false){%>
                                    <% count++ %>
                                    <%}%>
                                  <%})%>
                                  <h3 class="hh"><%= count %></h3>
                                  <p class="lead">Payment Pending</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 md1">
                  <div class="card">
                      <div class="card-body">
                          <div class="row">
                              <div class="col-lg-2 col-md-2 col-sm-2">
                                <img src="Pictures/6.png" class="icon" alt="">
                              </div>
                              <div class="col-lg-10 col-md-10 col-sm-10">
                                <% var counts1 = 0 %>
                                <%bookedRecords.forEach(function(records){%>
                                  
                                  <%if(records.isConfirm === true){%>
                                    <% counts1++ %>
                                    <%}%>
                                  <%})%>
                                  <h3 class="hh"><%= counts1 %></h3>
                                  <p class="lead">Booked List</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
              <div class="box-container">
                  <div class="form-details">
                    <h2>Paid List</h2>
                    <div class="detail">
                      <div class="row">
                        <div class="col-lg-2 col-md-2">
                          <p class="lead header">Name</p>
                        </div>
                        <div class="col-lg-3 col-md-3">
                          <p class="lead header">Email</p>
                        </div>
                        <div class="col-lg-2 col-md-2">
                          <p class="lead header">Date</p>
                        </div>
                        <div class="col-lg-1 col-md-1">
                          <p class="lead header">Time</p>
                        </div>
                        <div class="col-lg-1 col-md-1">
                          <p class="lead header">Status</p>
                        </div>
                        <div class="col-lg-2 col-md-2">
                          <p class="lead header">Payment</p>
                        </div>
                        <div class="col-lg-1 col-md-1">
                          <p class="lead header">Action</p>
                        </div>
                      </div>
                    </div>
                    <% bookedRecords.forEach(function(records){ %>
                      <div class="detail">
                        <div class="row">
                          <div class="col-lg-2 col-md-2">
                            <p class="lead info">
                              <%=records.name%>
                            </p>
                          </div>
                          <div class="col-lg-3 col-md-3">
                            <p class="lead info">
                              <%=records.email%>
                            </p>
                          </div>
                          <div class="col-lg-2 col-md-2">
                            <p class="lead info">
                              <%=records.date%>
                            </p>
                          </div>
                          <div class="col-lg-1 col-md-1">
                            <p class="lead info">
                              <%=records.time%>
                            </p>
                          </div>
                          <% if(records.isConfirm===true){ %>
                            <% var status="Booked" %>
                          <% }else{ %>
                              <% var status="Pending" %>
                          <% } %>
                          <div class="col-lg-1 col-md-1">
                            <p class="lead info">
                              <%=status%>
                            </p>
                          </div>
                          <% if(records.payment===true){ %>
                            <% var status="Paid" %>
                          <% }else{ %>
                              <% var status="Pending" %>
                          <% } %>
                          <div class="col-lg-2 col-md-2">
                            <p class="lead info">
                              <%=status%>
                            </p>
                          </div>
                          <div class="col-lg-1 col-md-1">
                            <p class="lead info">
                              <form action="/confirmBookedUserList" method="POST">
                                <button name="done" value="<%=records._id%>" type="submit" class="btn">Done</button>
                              </form>
                            </p>
                          </div>
                        </div>
                      </div>
                      <% }) %>
                  </div>
              </div>
              <div class="content-container1">
                <h2>Total Booking Request</h2>
                <div class="row">
                  <% bookedRecords.forEach(function(records){ %>
              
                  <div class="col-lg-4 col-md-6 col-sm-6 md">
                    <div class="card">
                      <% if(records.img.data === undefined){ %>
                        <p class="lead" style="margin-left: 1rem;">Payment not made.</p>
                        <% }else{ %>
                          <img class="card-img-top" src="data:records/<%=records.img.contentType %>;base64,<%= records.img.data.toString("base64")%>">
                      <% } %>
                      <div class="card-body">
                        <div class="attributes">
                          <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 md-1">
                              <h5>Name</h5>
                              <p class="lead">Email</p>
                              <p class="lead">Phone</p>
                              <p class="lead">Date</p>
                              <p class="lead">Time</p>
                              <p class="lead">Day/Night</p>
                              <p class="lead">Status</p>
                              <p class="lead">Payment</p>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 md-2">
                              <h5><%=records.name%></h5>
                              <p class="lead"><%=records.email%></p>
                              <p class="lead"><%=records.phone%></p>
                              <p class="lead"><%=records.date%></p>
                              <p class="lead"><%=records.time%></p>
                              <p class="lead"><%=records.day%></p>
                              <% if(records.isConfirm === true){ %>
                              <%  var status = "Booked" %>
                              <% }else{ %>
                              <% var status = "Pending" %>
                              <% } %>
                              <p class="lead"><%=status%></p>
                              <% if(records.payment === true){ %>
                              <%  var status = "Paid" %>
                              <% }else{ %>
                              <% var status = "Not paid" %>
                              <% } %>
                              <p class="lead"><%=status%></p>
                            </div>
                          </div>
                        </div>
                        <form action="/confirmBookedUserList" method="POST">
                          <button name="done" value="<%=records._id%>" type="submit" class="btn btn-secondary btn1">Done</button>
                        </form>
                      </div>
                    </div>
                  </div>
              
                  <% }) %>
                </div>
              </div>
              
          </div>
      </div>
  </div>


<% if (typeof errorMessage !=="undefined" ) { %>
  <script>
    Swal.fire({
      icon: 'error',
      title: 'Oops...',
      text: "<%= errorMessage %>",
    })
    </script>
<% } %>
<% if (typeof successMessage !== "undefined") { %>
  <script>
    swal({
      title: "Good job!",
      text: "<%= successMessage %>",
      icon: "success",
    });
    </script>
<% } %>
<div class="row second-footer">
  <div class="col-12">
    <span>© 2022 Group 3. Agile Project</span>
  </div>
</div>
  </body>
</html>