<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gyelpozhing Turf Booking</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="css/feedback.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'> 
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
          <div class="menu-container col-lg-2 col-md-12 col-sm-12">
              <div class="row">
                  <nav class="navbar navbar-expand-lg navbar-light">
                      <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                          data-bs-target="#navbarCollapse">
                          <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav">
                          <h1>LOGO</h1>
                          <a href="/" class="nav-item nav-link"><span><img src="/Pictures/4.png" alt=""></span>Home</a>
                          <a href="/bookedUserList" class="nav-item nav-link"><span><img src="/Pictures/2.png" alt=""></span>Booked List</a>
                          <a href="/confirmBookedUserList" class="nav-item nav-link"><span><img src="/Pictures/1.png" alt=""></span>Paid List</a>
                          <a href="/feedback" class="nav-item nav-link"><span><img src="/Pictures/3.png" alt=""></span>Feedback</a>
                          <a href="/logout" class="nav-item nav-link"><span><img src="/Pictures/5.png" alt=""></span>LogOut</a>
                        </div>
                      </div>
                  </nav>
              </div>
          </div>
          <div class="content-container col-lg-10 col-md-10 col-sm-12">
            <div class="box-container">
              <h2>Feedbacks</h2>
              <div class="row">
                <% feedback.forEach(function(records){ %>
                <div class="col-lg-12 col-md-12 col-sm-12 md">
                  <div class="card">
                    <div class="card-body">
                      <h4><%=records.email%></h4>
                      <p class="lead"><%=records.message%></p>
                        <form action="/feedback" method="POST">
                          <button name="read" value="Reply <%=records._id%>" type="submit" class="btn btn-secondary">Reply</button>
                          <button name="read" value="Read <%=records._id%>" type="submit" class="btn btn-secondary">Read</button>
                        </form>
                    </div>
                  </div>
                </div>
                <% }) %>
              </div>
            
            </div>
          </div>
      </div>
  </div>
  <script>
    function myFunction(id) {
      var x = document.getElementById(id);
      console.log(id);
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    </script>

<% if (typeof errorMessage !=="undefined" ) { %>
  <script>
    Swal.fire({
      icon: 'error',
      title: 'Oops...',
      text: "<%= errorMessage %>",
    })
    </script>
<% } %>
<% if (typeof successMessage !== "undefined") { %>
  <script>
    swal({
      title: "Good job!",
      text: "<%= successMessage %>",
      icon: "success",
    });
    </script>
<% } %>
<div class="row second-footer">
  <div class="col-12">
    <span>© 2022 Group 3. Agile Project</span>
  </div>
</div>
  </body>
</html>
