<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gyelpozhing Turf Booking</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="css/forgotPassword.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="password-logo">
            <img src="/Pictures/forgotPassword.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-section">
            <h4>FORGOT <br> YOUR PASSWORD?</h4>
            <form action="/forgotPassword" method="POST">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" placeholder="example.email@gmail.com" class="form-control" name="email" value="<%=(typeof inputData!='undefined') ? inputData.email: ''%>">
                <p style="color: red;"><%= (typeof errors!="undefined" && typeof errors.email!="undefined") ? errors.email.msg: ""%></p>
              </div>
            <button name="reset" value="reset" type="submit" class="btn btn-secondary">Reset</button>
            </form>
            <a href="login">Back to Sign in</a>
          </div>
        </div>
      </div>
      <% if (typeof errorMessage !=="undefined" ) { %>
        <script>
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: "<%= errorMessage %>",
          })
          </script>
      <% } %>
      <% if (typeof successMessage !== "undefined") { %>
        <script>
          swal({
            title: "Good job!",
            text: "<%= successMessage %>",
            icon: "success",
          });
          </script>
      <% } %>
    </div>
    <div class="row second-footer">
      <div class="col-12">
          <span>© 2022 Group 3. Agile Project</span>
      </div>
  </div>
  </body>
</html>
