<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gyelpozhing Turf Booking</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="owlcarousel/owl.carousel.css">
  <link rel="stylesheet" href="owlcarousel/owl.theme.default.css">
  <script src="owlcarousel/owl.carousel.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
  <div class="menu-container col-lg-12 col-md-12 col-sm-12">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: none;">
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse" style="margin-left: 2rem;margin-right: 2rem;">
          <div class="navbar-nav">
            <img class="header-logo" src="/Pictures/logo.png" alt="">
          </div>
          <div class="navbar-nav ms-auto">
            <a href="/" class="nav-item nav-link">Home</a>
            <a href="/showBookedUserList" class="nav-item nav-link">Details</a>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div class="container-fluid first-container-header">
    <div class="row first-container-first-row">
      <div class="col-lg-12 col-md-12 col-sm-12 first-container-first-column">
        <div class="first-container">
          <div class="text-section">
            <h1>Gyalpozhing Turf Booking</h1>
            <h4>The most used type and best grass for football field in the football tournament </h4>
            <h4>is super C artificial turf. This artificial grass model is one of the</h4>
            <h4>highest standard artificial grass models.</h4>
            <a href="/bookingForm" class="btn btn-secondary">Booked now</a>
          </div>
          <img src="/Pictures/football.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <!-- Second-container -->
  <div class="container-fluid second-container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img class="img-fluid" src="/Pictures/football2.jpg" alt="">
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <h1>Gyalpozhing Turf</h3>
          <h4>"TURF is the go-to app for athletes and hobbyists looking to book & play their</h4>
          <h4>sport. Bringing the community of athletes in the UAE to a single platform to book courts,</h4>
          <h4>join games, find players, and track heir performance."</h4>
      </div>
    </div>
  </div>

  <!-- Third-container -->
  <div class="container-fluid third-container-header">
    <div class="row third-container-first-row">
      <div class="col-lg-12 col-md-12 col-sm-12 third-container-first-column">
        <div class="content-section">
          <h1>Our Team</h1>
          <h4>We are an interdisciplinary who look at your business with a single shared goal in mind to create an
            effective <br> digital presence for your business. Working collaborately, we're able to achieve results that
            are
            creative <br> and strategic, with measurable business impact. We work hard, and we work smart.</h4>
        </div>
      </div>
    </div>
  </div>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous" />

  <div class="container-fluid forth-container-header">
    <div class="row owl-container">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- Slideshow container -->
        <div class="owl-carousel owl-theme" style="width: 100%; padding: 2rem 4rem;">

          <div class="item">
            <div class="owl">
              <div class="owl-img"><img src="/Pictures/pema.jpeg" alt="" style="width: 80%;"></div>
              <div class="main-text">
                <h2>Pema Zangmo</h2>
                <h3>Product Owner</h3>
                <div class="socials">
                  <i class="fa fa-facebook"></i>
                  <i class="fa fa-linkedin"></i>
                  <i class="fa fa-twitter"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="owl">
              <div class="owl-img"><img src="/Pictures/choda.jpeg" style="width: 80%;" alt=""></div>
              <div class="main-text">
                <h2>Karma Choda</h2>
                <h3>Scrum Master</h3>
                <div class="socials">
                  <i class="fa fa-facebook"></i>
                  <i class="fa fa-linkedin"></i>
                  <i class="fa fa-twitter"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="owl">
              <div class="owl-img"><img src="/Pictures/cheki.jpeg" style="width: 80%;" alt=""></div>
              <div class="main-text">
                <h2>Cheki Lhamo</h2>
                <h3>Developer</h3>
                <div class="socials">
                  <i class="fa fa-facebook"></i>
                  <i class="fa fa-linkedin"></i>
                  <i class="fa fa-twitter"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="owl">
              <div class="owl-img"><img src="/Pictures/dg.jpeg" style="width: 80%;" alt=""></div>
              <div class="main-text">
                <h2>Dorji Gyeltshen</h2>
                <h3>Developer</h3>
                <div class="socials">
                  <i class="fa fa-facebook"></i>
                  <i class="fa fa-linkedin"></i>
                  <i class="fa fa-twitter"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="owl">
              <div class="owl-img"><img src="/Pictures/kinzang.jpeg" style="width: 80%;" alt=""></div>
              <div class="main-text">
                <h2>Kinzang Dorji</h2>
                <h3>Developer</h3>
                <div class="socials">
                  <i class="fa fa-facebook"></i>
                  <i class="fa fa-linkedin"></i>
                  <i class="fa fa-twitter"></i>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Fifth-container -->
  <div class="contianer-fluid">
    <div class="row fifth-container">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h2>Pricing</h2>
        <h3>Check the price of turf for different season.</h3>
        <div class="dayNight">
          <span class="btn btn-secondary">Day Time</span><span class="span-2">Night Time</span>
        </div>
      </div>
    </div>
  </div>
  <div class="contianer-fluid">
    <div class="row fifth-container fifth-container-1">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h2>Pricing</h2>
        <h3>Check the price of turf for different season.</h3>
        <div class="dayNight">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <span class="btn btn-secondary">Summer Time</span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <span class="span-2">Winter Time</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Six-container -->
  <div class="container-fluid">
    <div class="row six-container">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="dayNightTime">
          <h2>Day Time</h2>
          <h3>Perfect for the season</h3>
          <h2>Nu. 500<span>/match</span></h2>
          <p class="lead">Up to 5 players</p>
          <p class="lead">Collaboration features</p>
          <p class="lead">Smart analytics</p>
          <a href="/showBookedUserList" class="btn btn-secondary btn1">Check Status</a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="dayNightTime dayNightTime1">
          <h2>Night Time</h2>
          <h3>Perfect for the Health</h3>
          <h2>Nu. 1000<span>/match</span></h2>
          <p class="lead">Up to 5 players</p>
          <p class="lead">Collaboration features</p>
          <p class="lead">Smart analytics</p>
          <a href="/showBookedUserList" class="btn btn-secondary">Check Status</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row six-container">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="dayNightTime2">
          <h2>Day Time</h2>
          <h3>Perfect for the season</h3>
          <h2>Nu. 500<span>/match</span></h2>
          <p class="lead">Up to 5 players</p>
          <p class="lead">Collaboration features</p>
          <p class="lead">Smart analytics</p>
          <a href="/showBookedUserList" class="btn btn-secondary btn1">Check Status</a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="dayNightTime2 dayNightTime1">
          <h2>Night Time</h2>
          <h3>Perfect for the Health</h3>
          <h2>Nu. 1000<span>/match</span></h2>
          <p class="lead">Up to 5 players</p>
          <p class="lead">Collaboration features</p>
          <p class="lead">Smart analytics</p>
          <a href="/showBookedUserList" class="btn btn-secondary">Check Status</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row first-footer">
      <div class="col-lg-4 col-md-4 col-sm-12 col-1">
        <img class="footer-logo" src="/Pictures/turfbooking.png" alt="">
        <div class="circle"></div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="first-footer-column">
          <h2>Contact Us</h2>
          <i class="fa fa-phone"></i><span>+97512345678</span><br>
          <i class="fa fa-envelope"></i><span>test@gmail.com</span>
          <div class="footer-socials">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-linkedin"></i>
            <i class="fa fa-youtube"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="first-footer-column">
          <h2>Feedback</h2>
          <form action="/" method="POST">
            <input name="email" type="email" placeholder="example.email@gmail.com" value="" required>
            <p style="color: red; margin-bottom: 0px;"></p>
            <textarea name="message" cols="20" rows="4" placeholder="Type your message here..." value=""
              required></textarea>
            <p style="color: red;"></p>
            <button type="submit" class="btn btn-secondary">Send</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row second-footer">
      <div class="col-12">
        <span>© 2022 Group 3. Agile Project</span>
      </div>
    </div>
  </div>

  <script>
    let slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      if (n > slides.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = slides.length }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
    }
  </script>

  <!--Jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"></script>
  <!-- Owl Carousel -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <!-- custom JS code after importing jquery and owl -->
  <script type="text/javascript">
    $(document).ready(function () {
      $(".owl-carousel").owlCarousel();
    });

    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      responsive: {
        0: {
          items: 1
        },
        750: {
          items: 2
        },
        900: {
          items: 2
        },
        1200: {
          items: 3
        },
        1440: {
          items: 4
        }
      }
    })
  </script>

  <% if (typeof errorMessage !=="undefined" ) { %>
    <script>
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: "<%= errorMessage %>",
      })
    </script>
    <% } %>
      <% if (typeof successMessage !=="undefined" ) { %>
        <script>
          swal({
            title: "Good job!",
            text: "<%= successMessage %>",
            icon: "success",
          });
        </script>
        <% } %>
</body>

</html>