<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gyelpozhing Turf Booking</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link rel="stylesheet" href="css/login.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-2 col-sm-12">
        <div class="logo-section">
          <img class="img-fluid football" src="/Pictures/football.png" alt="">
          <hr>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="text-section">
          <h4>GREAT TO HAVE</h4>
          <h4>YOU BACK!</h4>
          <p class="lead">Time to check and update the turf. Dont't forget to enjoy your day!!</p>
          <img class="img-fluid football1" src="/Pictures/photo2.png" alt="">
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="row">
          <div class="message-section">
          
          </div>
        </div>
        <div class="row">
          <form action="/login" method="POST">
            <h2>Sign in</h2>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" placeholder="example.email@gmail.com" class="form-control" name="email" value="">
              <p style="color: red;"></p>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" placeholder="Enter at least 6+ characters" class="form-control" name="password"
                value="">
              <p style="color: red;"></p>
            </div>
            <a href="forgotPassword">Forgot password?</a>
            <button type="submit" class="btn btn-secondary">Sign in</button>
          </form>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-12">
        <img class="img-fluid football2" src="/Pictures/photo1.png" alt="">
      </div>
    </div>
  </div>

<% if (typeof errorMessage !=="undefined" ) { %>
    <script>
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: "<%= errorMessage %>",
      })
      </script>
  <% } %>
  <% if (typeof successMessage !== "undefined") { %>
    <script>
      swal({
        title: "Good job!",
        text: "<%= successMessage %>",
        icon: "success",
      });
      </script>
  <% } %>
  <div class="row second-footer">
    <div class="col-12">
      <span>© 2022 Group 3. Agile Project</span>
    </div>
  </div>
</body>

</html>