<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gyelpozhing Turf Booking</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link rel="stylesheet" href="css/resetPasswordForm.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>New Password</h4>
        <form action="/resetPasswordForm" method="POST">

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" placeholder="Enter at least 6+ characters" class="form-control" name="password"
              value="<%=(typeof inputData!='undefined') ? inputData.password: ''%>">
            <p style="color: red;">
              <%= (typeof errors!="undefined" && typeof errors.password!="undefined" ) ? errors.password.msg: "" %>
            </p>
          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" placeholder="Enter confirm password" name="confirmPassword"
              value="<%=(typeof inputData!='undefined') ? inputData.confirmPassword: ''%>">
            <p style="color: red;">
              <%= (typeof errors!="undefined" && typeof errors.confirmPassword!="undefined" ) ?
                errors.confirmPassword.msg: "" %>
            </p>
          </div>
          <button type="submit" class="btn btn-secondary">Done</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row second-footer">
    <div class="col-12">
      <span>© 2022 Group 3. Agile Project</span>
    </div>
  </div>
</body>

</html>