<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gyelpozhing Turf Booking</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link rel="stylesheet" href="css/showBookedUserList.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" style="margin-left: 2rem;margin-right: 2rem;">
      <div class="navbar-nav">
        <img class="header-logo" src="" alt="">
      </div>
      <div class="navbar-nav ms-auto">
        <a href="/" class="nav-item nav-link">Home</a>
        <a href="/showBookedUserList" class="nav-item nav-link">Ground Status</a>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-1">
        <h2>Ground Status</h2>
        <div class="detail">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <p class="lead header">Name</p>
            </div>
            <div class="col-lg-2 col-md-2">
              <p class="lead header">Date</p>
            </div>
            <div class="col-lg-2 col-md-2">
              <p class="lead header">Time</p>
            </div>
            <div class="col-lg-2 col-md-2">
              <p class="lead header">Day</p>
            </div>
            <div class="col-lg-2 col-md-2">
              <p class="lead header">Status</p>
            </div>
          </div>
        </div>
        <% bookedRecords.forEach(function(records){ %>
          <div class="detail">
            <div class="row">
              <div class="col-lg-4 col-md-4">
                <p class="lead info">
                  <%=records.name%>
                </p>
              </div>
              <div class="col-lg-2 col-md-2">
                <p class="lead info">
                  <%=records.date%>
                </p>
              </div>
              <div class="col-lg-2 col-md-2">
                <p class="lead info">
                  <%=records.time%>
                </p>
              </div>
              <div class="col-lg-2 col-md-2">
                <p class="lead info">
                  <%=records.day%>
                </p>
              </div>
              <% if(records.isConfirm===true){ %>
                <% var status="Booked" %>
              <% }else{ %>
                  <% var status="Pending" %>
              <% } %>
              <div class="col-lg-2 col-md-2">
                <p class="lead info">
                  <%=status%>
                </p>
              </div>
            </div>
          </div>
          <% }) %>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <h2 class="sm">Ground Status</h2>
      <% bookedRecords.forEach(function(records){ %>
        <div class="col-sm-12 col-2">
          <div class="card">
            <div class="card-body">
              <div class="attributes">
                <div class="row">
                  <div class="col-sm-4 header-title">
                    <h5>Name</h5>
                    <p class="lead">Date</p>
                    <p class="lead">Time</p>
                    <p class="lead">Day</p>
                    <p class="lead">Status</p>
                  </div>
                  <div class="col-sm-8 header-title-1">
                    <h5>
                      <%=records.name%>
                    </h5>
                    <p class="lead">
                      <%=records.date%>
                    </p>
                    <p class="lead">
                      <%=records.time%>
                    </p>
                    <p class="lead">
                      <%=records.day%>
                    </p>
                    <% if(records.isConfirm===true){ %>
                      <% var status="Booked" %>
                      <% }else{ %>
                          <% var status="Pending" %>
                      <% } %>
                      <p class="lead">
                        <%=status%>
                      </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
    </div>
  </div>
  <footer>
    <div class="row second-footer">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <span>© 2022 Group 3. Agile Project</span>
      </div>
    </div>
</footer>
</body>

</html>