<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gyelpozhing Turf Booking</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="css/userPaymentForm.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="screenshoot">
          <h4>Scan to Pay</h4>
          <img src="Pictures/QR.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="payment-form">
          <form action="/userPaymentForm" method="POST" enctype="multipart/form-data">
            <h4>Payment Form</h4>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" value="" required>
            </div>
            <div class="form-group">
              <label for="image">Attach Payment Screenshoot</label>
              <input type="file" id="image" class="form-control" name="image" value="" required>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <% if (typeof errorMessage !=="undefined" ) { %>
    <script>
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: "<%= errorMessage %>",
      })
      </script>
  <% } %>
  <% if (typeof successMessage !== "undefined") { %>
    <script>
      swal({
        title: "Good job!",
        text: "<%= successMessage %>",
        icon: "success",
      });
      </script>
  <% } %>
  <div class="row second-footer">
    <div class="col-12">
      <span>© 2022 Group 3. Agile Project</span>
    </div>
  </div>
</body>

</html>