body {
    font-family: "Epilogue", sans-serif;
    background-color: #fff;
}

.navbar-light {
    background-color: #202621;
}

.navbar a {
    font-size: 20px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #18d26e;
}

.container-fluid {
    margin-top: 4rem;
}

.image-container {
    text-align: center;
}

.image-container h2 {
    margin-top: 1rem;
    font-size: 40px;
    font-weight: 600;
    color: #3A4131;
    font-family: "Epilogue", sans-serif;
}

.form-container {
    width: 80%;
}

.btn {
    width: 100%;
    background-color: #63695B;
    color: #fff;
}
.btn:hover {
    background-color: #18d26e;
}

.second-footer {
    background-color: #202621;
    color: #fff;
    text-align: center;
    width: 100%;
    line-height: 3.5;
    font-family: 'Epilogue';
    font-size: 20px;
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0px;
}
@media(max-width:750px){
    .image-container h2 {
        font-size: 30px;
    }
    .form-container {
        width: 100%;
    }
    .second-footer {
        bottom: -5rem;
    }
    .navbar a {
        font-size: 14px;
        line-height: 0.5rem;
      }
}