body {
    font-family: "Epilogue", sans-serif;
    background-color: #fff;
}

.navbar-light {
    background-color: #202621;
}

.navbar a {
    font-size: 20px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #18d26e;
}
.menu-container nav {
    background-color: #202621;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: block;
    padding: 0%;
    margin: 0px;
}

.menu-container nav .navbar-nav {
    display: block;
    margin: 0px;
    padding-left: 1rem;
}

.menu-container nav .navbar-nav h1 {
    font-size: 30px;
    color: #fff;
    margin-top: 1rem;
    font-weight: 600;
}

.menu-container nav .navbar-nav .nav-item {
    list-style: none;
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-size: 18px;
}
.menu-container nav .navbar-nav .nav-item:hover {
    color: #18d26e;
}
.navbar-nav img{
    width: 1.5rem;
    height: 1.5rem;
}
span{
    padding: 1rem;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    line-height: 3;
}

.content-container {
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    color: #fff;
}

.content-container .box-container {
    width: 99%;
    height: 96vh;
    margin: 1rem 0.5rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: #fff;
}
.col-2{
    display: none;
}
.icon{
    width: 2rem;
    height: 2rem;
}
h2 {
    margin-top: 2rem;
    font-size: 40px;
    font-weight: 600;
    margin-left: 0.5rem;
    color: #3A4131;
    font-family: "Epilogue", sans-serif;
}
.card {
    background-color: #F9FDF3;
    box-shadow: 5px 7px#E7E7E7;
    margin: 2.5rem 1.5rem;
    border-radius: 1rem;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
}

.card h3 {
    font-weight: 600;
}
.sm{
    display: none;
}
.detail{
    display: block;
    color: #000;
    border-radius: 0.5rem;
    border: 1px solid #000;
    margin: 0.5rem 0.5rem;
    background-color: #fff;
}
.header{
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
}
.info{
    margin-left: 1rem;
}
.lead{
    margin-top: 1rem;
}

.content-container1{
    display: none;
}
.content-container1{
    display: none;
}
.card {
    width: 100%;
    margin: 1.5rem 0rem;
    background-color: #f8f9fa;
}
.card .card-body {
    width: 100%;
    padding: 0.5rem;
}
.content-container1 .lead {
    margin: 0.1rem;
    font-size: 17px;
}
.attributes {
    width: 100%;
}
.content-container1 .btn {
    width: 48%;
    line-height: 1;
}
.content-container1 .btn-secondary{
    width: 98%;
}

.second-footer {
    background-color: #202621;
    color: #fff;
    text-align: center;
    width: 100%;
    line-height: 3.5;
    font-family: 'Epilogue';
    font-size: 20px;
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0px;
}
@media(max-width:900px){
    h2 {
        font-size: 30px;
    }
    .detail{
        font-size: 16px;
        margin: 0.2rem 0.2rem;
    }
    .header, .info{
        margin-left: 1.5rem;
    }
    .box-container{
        display: none;
    }
    .content-container{
        width: 100%;
    }
    .content-container1{
        display: block;
    }
    .menu-container{
        width: 100%;
    }
    .menu-container nav {
        height: auto;
    }
    .content-container1 .lead{
        font-size: 14px;
    }
    .md1 p{
        font-size: 14px;
    }
}
@media(max-width:750px){
    .navbar a {
        font-size: 18px;
    }
    .col-1{
        display: none;
    }
    .col-2{
        display: block;
    }
    .second-footer {
        bottom: -15rem;
    }
    .sm{
        display: block;
        width: 50%;
        margin-top: 2rem;
    }
    
}
@media(max-width:550px){
    .col-2{
        width: 100%;
    }
    h2 {
        font-size: 20px;
    }
    .header-title{
        width: 25%;
    }
    .header-title-1{
        width: 75%;
    }
    .attributes .md-1 {
        width: 30%;
    }
    .attributes .md-2 {
        width: 70%;
    }
    .hh{
        width: 2rem;
        display: block;
        text-align: center;
    }
    .md1{
        width: 33%;
    }
    .md1 p{
        font-size: 12px;
        text-align: center;
    }
}
@media(max-width:450px){
    .hh{
        font-size: 14px;
    }
    .md1{
        padding: 0.2rem;
    }
    .md1 .card-body{
        padding: 0.2rem;
    }
    .md1 p{
        font-size: 11px;
    }
    .content-container1 .lead{
        font-size: 14px;
    }
}