body {
    background-color: #ffffff;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
  }
  .header-logo{
    width: 5rem;
    height: 5rem;
  }
  .nav-link{
    font-size: 20px;
    font-weight: 700;
  }
  .row{
    padding: 0%;
  }
/* footer-division */
.first-footer, .second-footer{
  background-color: #202621;
  width: 100%;
  height: auto;
  margin: 0px;
}
.footer-logo{
  width: 6rem;
  height: 6rem;
  margin: 1rem 3rem;
}
.circle{
  width: 12rem;
  height: 12rem;
  display: block;
  margin-top: 1rem;
  margin-left: -6rem;
  border-radius: 50%;
  padding-bottom: 0%;
  background-color: #516153;
}
.first-footer-column i{
  margin-top: 1rem;
  margin-left: 0px;
  font-size: 2rem;
}
.footer-socials i{
  padding-right: 1.5rem;
  padding-top: 1rem;
}
.first-footer-column span{
  margin-left: 1rem;
}
.first-footer-column h1{
  margin-top: 1rem;
  text-align: start;
  font-weight: 900;
  font-size: 24px;
  font-family: 'DM Serif Display', serif;
}
.second-footer{
  background-color: #161b17;
  height: 5rem;
  width: 100%;
  align-items: center;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.first-footer-column .btn{
  width: 70%;
  margin-top: 0.5rem;
}
.first-footer-column h1, .first-footer-column i, .first-footer-column span {
  color: #c7c3c3;
}
@media(max-width: 900px){
  .header-logo{
    display: none;
  }
}

@media(max-width: 750px){
  .header-logo{
    display: none;
  }
  .circle{
    width: 10rem;
    height: 10rem;
    margin-left: -5rem;
  }
}
@media(max-width: 550px){
  .first-container, .second-container, .third-container, .forth-container, .fifth-container{
    height: auto;
    max-width: 100%;
    margin: 0.2rem 0.5rem;
  }
  .header-logo{
    display: none;
  }
  .second-container .img-fluid{
    width: 100%;
  }
  .second-container h3{
    display: none;
  }
  .third-container h4{
    padding: 0.5rem;
  }
  .slideshow-container {
    max-width: 25rem;
    position: relative;
    margin: auto;
  }
  .img1 img{
    height: 10rem;
    width: 100%;
  }
  .img2 img{
    width: 20rem;
    height: 20rem;
    margin-top: -10rem;
  }
  .dayNightTime h1, .dayNightTime{
    text-align: center;
  }
  .circle{
    display: none;
  }
  .first-footer-column, .first-footer-column h1{
    text-align: center;
  }
  .first-footer-column{
    padding-bottom: 1rem;
  }
  .login .football{
    margin-left: 12rem;
  }
  .first-footer .footer-logo{
    display: none;
  }
  .first-footer-column input, .first-footer-column textarea, .first-footer-column .btn-secondary{
    width: 90%;
  }
}


