body {
    font-family: "Epilogue", sans-serif;
    background-color: #fff;
}

.navbar-light {
    background-color: #202621;
}

.navbar a {
    font-size: 20px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #18d26e;
}
.menu-container nav {
    background-color: #202621;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: block;
    padding: 0%;
    margin: 0px;
}

.menu-container nav .navbar-nav {
    display: block;
    margin: 0px;
    padding-left: 1rem;
}

.menu-container nav .navbar-nav h1 {
    font-size: 30px;
    color: #fff;
    margin-top: 1rem;
    font-weight: 600;
}

.menu-container nav .navbar-nav .nav-item {
    list-style: none;
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-size: 18px;
}
.menu-container nav .navbar-nav .nav-item:hover {
    color: #18d26e;
}

.content-container {
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    color: #fff;
}
.navbar-nav img{
    width: 1.5rem;
    height: 1.5rem;
}
span{
    padding: 1rem;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    line-height: 3;
}

.content-container .box-container {
    width: 99%;
    height: 96vh;
    margin: 1rem 0.5rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: #fff;
}
.col-2{
    display: none;
}
h2 {
    margin-top: 2rem;
    font-size: 30px;
    font-weight: 600;
    margin-left: 0.5rem;
    color: #3A4131;
    font-family: "Epilogue", sans-serif;
}
.card {
    background-color: #F9FDF3;
    box-shadow: 5px 7px#E7E7E7;
    margin: 2.5rem 1.5rem;
    border-radius: 1rem;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
}
.second-footer {
    background-color: #202621;
    color: #fff;
    text-align: center;
    width: 100%;
    line-height: 3.5;
    font-family: 'Epilogue';
    font-size: 20px;
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0px;
    flex-wrap: wrap;
}
@media(max-width:900px){
    h2 {
        font-size: 25px;
    }
    .content-container{
        width: 100%;
    }
    .menu-container nav {
        height: auto;
    }
}