body {
    font-family: "Epilogue", sans-serif;
    background-color: #fff;
    color: #3A4131;
    font-size: 18px;
}

.container-fluid {
    width: 80%;
    height: 20%;
    display: block;
    margin: 8rem auto;
}

.password-logo {
    display: block;
    text-align: end;
}

.form-section h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 2;
    font-family: "Epilogue";
}

form {
    line-height: 3;
}
form label, form .form-control{
    font-size: 18px;
    line-height: 1;
    font-family: "Epilogue";
  }
.form-control{
    background-color: #EDEDED;
}
.btn{
    width: 100%;
    background-color: #4c5145;
    cursor: pointer;
    font-family: "Epilogue";
  }
  .btn:hover{
    color: #fff;
    background-color: #18d26e;
  }
  a{
    display: block;
    text-align: center;
    color: #7F817D;
    font-size: 18px;
    margin-top: 1rem;
    text-decoration: none;
    font-family: "Epilogue";
  }
  a:hover{
    color: #18d26e;
  }
  .second-footer {
    background-color: #202621;
    color: #fff;
    text-align: center;
    width: 100%;
    line-height: 3.5;
    font-family: 'Epilogue';
    font-size: 20px;
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0px;
}
  @media(max-width: 750px){
    .container-fluid{
      margin: 2rem auto;
    }
    .password-logo {
        display: block;
        text-align: center;
    }
  }