body {
  font-family: "Epilogue", sans-serif;
  background-color: #fff;
  padding: 0px;
}
.menu-container{
  width: 100%;
}

.navbar {
  position: absolute;
  width: 100%;
  font-family: 'Epilogue';
}

.navbar a {
  font-size: 20px;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #18d26e;
}

.header-logo {
  width: 5rem;
  height: 5rem;
}

.nav-link {
  font-size: 20px;
  font-weight: 600;
  font-family: "Epilogue";
}

.first-container-header,
.first-container-first-row,
.first-container-first-column,
.forth-container-header,
.owl-container {
  padding: 0px;
  margin: 0px;
}

.first-container-first-column {
  display: block;
  text-align: center;
}

.first-container .text-section {
  display: block;
  text-align: center;
  position: absolute;
  width: 50%;
  margin: 10% 25%;
}

.first-container img {
  width: 100%;
  height: 50rem;
}

.first-container .text-section h1 {
  margin-top: 1rem;
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  font-family: "Epilogue", sans-serif;
}

.first-container .text-section h4 {
  margin-top: 1rem;
  font-size: 20px;
  color: #fff;
  line-height: 1.5;
  font-family: "Epilogue", sans-serif;
}

.first-container .text-section .btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  background-color: #63695B;
}

.first-container .text-section .btn:hover {
  color: #18d26e;
}

.second-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.second-container img {
  display: block;
  height: 90%;
  width: 80%;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1rem 1rem rgba(0, 0, 0, 0.25);
}

.second-container h1,
.content-section h1 {
  margin-top: 1rem;
  font-size: 30px;
  font-weight: 100;
  color: #000;
  font-family: "Epilogue", sans-serif;
}

.second-container h4,
.content-section h4 {
  margin-top: 1rem;
  font-size: 16px;
  color: #000;
  line-height: 2;
  font-family: "Epilogue", sans-serif;
}

.third-container-header,
.third-container-first-row,
.third-container-first-column {
  padding: 0px;
  margin: 0px;
  background-color: #484D42;
  ;
  display: block;
  text-align: center;
  height: 15rem;
}

.content-section {
  position: relative;
  top: 4rem;
}

.content-section h1,
.content-section h4 {
  color: #fff;
}

.forth-container-header {
  background-color: #484D42;
  ;
}

.owl-carousel .owl-item img {
  border-radius: 1rem;
  height: 15rem;
  margin-left: auto;
  margin-right: auto;
}

.item h2 {
  margin-top: 1rem;
  font-size: 25px;
  font-weight: 100;
  color: #fff;
  text-align: center;
  font-family: "Epilogue", sans-serif;
}

.item h3 {
  margin-top: 1rem;
  font-size: 20px;
  color: #EFEEEE;
  text-align: center;
  line-height: 1;
  font-family: "Epilogue", sans-serif;
}

.item .socials {
  margin-top: 2rem;
  text-align: center;
}

.item .fa {
  font-size: 2rem;
  color: #fff;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
}

.item .fa:hover {
  color: #18d26e;
}

.fifth-container {
  margin: 0px;
  padding: 4rem 8rem;
  display: block;
  text-align: center;
}

.fifth-container-1 {
  display: none;
}

.fifth-container h2 {
  margin-top: 1rem;
  font-size: 40px;
  font-weight: 600;
  color: #4c5145;
  text-align: center;
  font-family: "Epilogue", sans-serif;
}

.fifth-container h3 {
  margin-top: 1rem;
  font-size: 20px;
  color: #4c5145;
  text-align: center;
  line-height: 1;
  font-family: "Epilogue", sans-serif;
}

.dayNight {
  height: 5rem;
  width: 15rem;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
  margin-top: 2rem;
  background-color: #484D42;
  border-radius: 0.5rem;
}

.dayNight span {
  width: 50%;
  height: 80%;
  position: relative;
  top: 0.5rem;
  padding: 1rem;
  color: #fff;
  font-size: 16px;
  font-family: "Epilogue", sans-serif;
}

.dayNight .btn {
  background-color: #D9D9D9;
  color: #000;
}

.dayNight .btn:hover {
  background-color: #18d26e;
  color: #000;
}

.dayNightTime,
.dayNightTime2 {
  background-color: #EDEDED;
  ;
  width: 50%;
  padding: 2rem 2rem;
  border-radius: 1rem;
  border: 1px solid #484D42;
  height: 100%;
  display: block;
  position: relative;
  margin-left: auto;
}

.dayNightTime2 {
  display: none;
}

.dayNightTime1 {
  margin-left: 0px;
}

.dayNightTime h2,
.dayNightTime2 h2 {
  margin-top: 1rem;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #484D42;
  font-family: "Epilogue", sans-serif;
}

.dayNightTime h3,
.dayNightTime2 h3 {
  margin-top: 1rem;
  font-size: 20px;
  color: #000;
  line-height: 1;
  font-family: "Epilogue", sans-serif;
}

.dayNightTime span {
  text-transform: lowercase;
  font-weight: lighter;
}

.dayNightTime .btn {
  font-family: "Epilogue", sans-serif;
  width: 100%;
  height: 5rem;
  font-size: 20px;
  color: #fff;
  line-height: 3;
  background-color: #4c5145;
}

.dayNightTime .btn1 {
  background-color: #EDEDED;
  color: #000;
}

.dayNightTime .btn:hover {
  color: #fff;
  background-color: #18d26e;
}

.dayNightTime .btn1 {
  background-color: #EDEDED;
  color: #000;
}

.first-footer {
  margin-top: 4rem;
  background-color: #202621;
  padding-bottom: 2rem;
}

.first-footer img {
  height: 5rem;
  width: 5rem;
}

.first-footer-column h2 {
  margin-top: 1rem;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  font-family: "Epilogue", sans-serif;
}

.first-footer i,
.first-footer span {
  font-size: 18px;
  color: #fff;
  padding: 1rem 1rem;
}

.circle {
  width: 12rem;
  height: 12rem;
  display: block;
  margin-top: 1rem;
  margin-left: -6rem;
  border-radius: 50%;
  padding-bottom: 0%;
  background-color: #516153;
}

.first-footer-column input,
.first-footer-column textarea {
  width: 70%;
  color: #000;
  border-radius: 5px;
  margin-top: 1rem;
}

.first-footer-column .btn {
  width: 70%;
  border: 1px solid #A9B1A0;
  border-radius: 5px;
  background-color: #A9B1A0;
  color: #fff;
}

.first-footer-column .btn:hover {
  background-color: #18d26e;
  color: #fff;
}

.second-footer {
  background-color: #202621;
  color: #fff;
  text-align: center;
  height: 5rem;
  line-height: 3.5;
  font-family: 'Epilogue';
  font-size: 20px;
}

@media(max-width:1400px) {
  .first-container .text-section h1 {
    font-size: 50px;
  }
}

@media(max-width:1200px) {
  .first-container .text-section h1 {
    font-size: 40px;
  }

  .first-container .text-section h4 {
    font-size: 16px;
  }
}

@media(max-width:900px) {
  .first-container .text-section h1 {
    font-size: 35px;
  }

  .first-container .text-section h4 {
    font-size: 14px;
  }

  .first-container .text-section {
    width: 70%;
    margin: 10% 15%;
  }

  .content-section {
    top: 2rem;
  }

  .fifth-container h2 {
    margin-top: 0rem;
    font-size: 30px;
  }

  .dayNight {
    height: 3rem;
    margin-top: 1rem;
  }

  .dayNightTime,
  .dayNightTime2 {
    width: 70%;
  }

  .dayNightTime h2,
  .dayNightTime2 h2 {
    font-size: 20px;
  }

  .dayNightTime h3,
  .dayNightTime2 h3 {
    font-size: 18px;
  }

  .lead {
    font-size: 1rem;
  }

  .dayNightTime .btn {
    height: 3rem;
    line-height: 1.5;
  }

  .first-footer-column h2 {
    font-size: 20px;
  }

  .first-footer i,
  .first-footer span {
    font-size: 16px;
  }

  .first-footer-column h2 {
    font-size: 20px;
  }

  .first-footer-column input,
  .first-footer-column textarea {
    width: 90%;
  }

  .first-footer-column .btn {
    width: 90%;
  }
}

@media(max-width:750px) {
  .header-logo {
    display: none;
  }

  .first-container img {
    height: 30rem;
  }

  .second-container h1,
  .content-section h1 {
    text-align: center;
  }

  .second-container h4,
  .content-section h4 {
    line-height: 1.5;
    text-align: center;
  }

  .third-container-header,
  .third-container-first-row,
  .third-container-first-column {
    height: 10rem;
  }

  .content-section h4 {
    font-size: 14px;
  }

  .dayNightTime,
  .dayNightTime2 {
    margin-left: 15%;
    height: auto;
  }

  .dayNightTime1 {
    margin-top: 4rem;
  }
}

@media(max-width:550px) {
  .first-container .text-section h1 {
    font-size: 25px;
  }

  .first-container .text-section {
    width: 90%;
    margin: 10% 5%;
  }

  .second-container h1,
  .content-section h1 {
    font-size: 20px;
  }

  .second-container h4,
  .content-section h4 {
    font-size: 13px;
  }

  .item h2 {
    font-size: 18px;
  }

  .item .fa {
    font-size: 16px;
  }

  .fifth-container h2 {
    font-size: 20px;
  }

  .fifth-container h3 {
    font-size: 14px;
  }

  .col-1 {
    display: none;
  }

  .first-footer-column {
    text-align: center;
  }
}

@media(max-width:450px) {
  .first-container .text-section h1 {
    font-size: 20px;
  }

  .first-container .text-section h4 {
    font-size: 10px;
    line-height: 0.5;
  }

  .first-container img {
    height: 20rem;
  }

  .navbar a {
    font-size: 14px;
    line-height: 0.5rem;
  }

  .second-container h4,
  .content-section h4 {
    font-size: 10px;
    line-height: 0rem;
  }

  .content-section h4 {
    font-size: 10px;
    line-height: 1rem;
  }

  .dayNight {
    width: 10rem;
  }

  .dayNight span {
    top: 0.3rem;
    padding: 0rem;
    font-size: 14px;
    line-height: 2.5;
  }
}