body{
  font-family: "Epilogue";
  background-color: #fff;
}
.container-fluid{
  width: 80%;
  height: 20%;
  display: block;
  margin: 8rem auto;
}
.logo-section{
  display: block;
  text-align: end;
}
.logo-section img{
  height: 5rem;
  width: 7rem;
}
.logo-section hr{
  border: 2px solid #4c5145;
}
.text-section{
  display: block;
  position: relative;
  top: 20%;
  height: auto;
  width: 100%;
}
.text-section h4{
  font-weight: 600;
  font-size: 20px;
}
.text-section .lead{
  font-size: 16px;
}
.text-section img{
  height: 5rem;
  width: 5rem;
}
form{
  line-height: 3;
}
form h2{
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin-top: 1rem;
  color: #4c5145;
  font-family: "Epilogue";
}
form label, form .form-control{
  font-size: 18px;
  line-height: 1;
  font-family: "Epilogue";
}
.btn{
  width: 100%;
  background-color: #4c5145;
  cursor: pointer;
}
.btn:hover{
  color: #fff;
  background-color: #18d26e;
}
a{
  display: block;
  text-align: end;
  color: #7F817D;
  font-size: 18px;
  text-decoration: none;
}
a:hover{
  color: #18d26e;
}
.football2{
  height: 5rem;
  width: 3rem;
  display: block;
  position: relative;
  top: 30%;
  left: 50%;
}
.second-footer {
  background-color: #202621;
  color: #fff;
  text-align: center;
  width: 100%;
  line-height: 3.5;
  font-family: 'Epilogue';
  font-size: 20px;
  display: block;
  position: absolute;
  bottom: 0;
  margin: 0px;
}
@media(max-width: 750px){
  .container-fluid{
    margin: 2rem auto;
  }
  .football2{
    display: none;
  }
}
