body {
    font-family: "Epilogue";
    background-color: #fff;
}

.container-fluid {
    width: 40%;
    height: 20%;
    display: block;
    margin: 8rem auto;
}

h4 {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin-top: 1rem;
    color: #4c5145;
    font-family: "Epilogue";
}

form {
    margin-top: 2rem;
}

form label,
form .form-control {
    font-size: 18px;
    line-height: 1;
    font-family: "Epilogue";
}
.form-control{
    background-color: #EDEDED;
}

.btn {
    width: 100%;
    background-color: #4c5145;
    cursor: pointer;
}

.btn:hover {
    color: #fff;
    background-color: #18d26e;
}

a {
    display: block;
    text-align: end;
    color: #7F817D;
    font-size: 18px;
    text-decoration: none;
}
.second-footer {
    background-color: #202621;
    color: #fff;
    text-align: center;
    width: 100%;
    line-height: 3.5;
    font-family: 'Epilogue';
    font-size: 20px;
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0px;
}
@media(max-width: 1440px) {
    .container-fluid {
        margin: 2rem auto;
        width: 60%;
    }
}

@media(max-width: 750px) {
    .container-fluid {
        margin: 2rem auto;
        width: 80%;
    }
}