body {
    font-family: "Epilogue", sans-serif;
    background-color: #fff;
}

.navbar-light {
    background-color: #202621;
}

.navbar a {
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #18d26e;
}
.col-2{
    display: none;
}
h2 {
    margin-top: 2rem;
    font-size: 30px;
    font-weight: 600;
    margin-left: 0.5rem;
    color: #3A4131;
    font-family: "Epilogue", sans-serif;
}
.sm{
    display: none;
}
.detail{
    display: block;
    border-radius: 0.5rem;
    border: 1px solid #000;
    margin: 0.5rem 0.5rem;
    background-color: #fff;
}
.header{
    font-weight: bold;
    vertical-align: middle;
    margin-left: 3rem;
}
.info{
    margin-left: 3rem;
}
.lead{
    margin-top: 1rem;
}
.second-footer {
    background-color: #202621;
    color: #fff;
    text-align: center;
    width: 100%;
    line-height: 3.5;
    font-family: 'Epilogue';
    font-size: 20px;
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0px;
}
@media(max-width:900px){
    h2 {
        font-size: 30px;
    }
    .detail{
        font-size: 16px;
        margin: 0.2rem 0.2rem;
    }
    .header, .info{
        margin-left: 1.5rem;
    }
}
@media(max-width:750px){
    .navbar a {
        font-size: 18px;
    }
    .col-1{
        display: none;
    }
    .col-2{
        display: block;
    }
    .second-footer {
        bottom: -15rem;
    }
    .sm{
        display: block;
        width: 50%;
        margin-top: 2rem;
    }
    
}
@media(max-width:550px){
    .col-2{
        width: 100%;
    }
    h2 {
        font-size: 20px;
    }
    .header-title{
        width: 25%;
    }
    .header-title-1{
        width: 75%;
    }
}
