body {
    font-family: "Epilogue";
    background-color: #fff;
}

.container-fluid {
    width: 80%;
    height: 20%;
    display: block;
    margin: 8rem auto;
}

.screenshoot {
    display: block;
    text-align: end;
}

.screenshoot img {
    height: 30rem;
    width: 40rem;
}

h4 {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin-top: 1rem;
    color: #4c5145;
    font-family: "Epilogue";
}

form {
    margin-top: 5rem;
    line-height: 3;
}

form label,
form .form-control {
    font-size: 18px;
    line-height: 1;
    font-family: "Epilogue";
}

.form-control {
    background-color: #EDEDED;
}

.btn {
    width: 100%;
    background-color: #4c5145;
    cursor: pointer;
    margin-top: 1rem;
}

.btn:hover {
    color: #fff;
    background-color: #18d26e;
}
.second-footer {
    background-color: #202621;
    color: #fff;
    text-align: center;
    width: 100%;
    line-height: 3.5;
    font-family: 'Epilogue';
    font-size: 20px;
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0px;
}
@media(max-width: 1400px) {
    .screenshoot img {
        height: 20rem;
        width: 20rem;
    }
}

@media(max-width: 750px) {
    .container-fluid {
        margin: 2rem auto;
    }

    .screenshoot {
        text-align: center;
    }

    .screenshoot img {
        height: 15rem;
        width: 15rem;
    }

    form {
        margin-top: 1rem;
        line-height: 3;
    }
}